body {
    font-family: Arial, sans-serif;
    background-color: rgb(183, 215, 255);
    text-decoration: none;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: rgb(153, 190, 236)
}

.table-responsive {
    overflow-x: auto;
}

th {
    text-align: left;
}